.album-cover,
.next {
  background-color: #e0745b;
  /* height: 40vh; */
  width: 100%;
  background-blend-mode: multiply;
}
.container {
  /* background-color: #e0745b; */
  color: white;
}
.container {
  width: 100%;
}
.image-cover {
  width: 200px;
  height: 200px;
  /* position: absolute; */
}
.album-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h2 {
  font-weight: bold;
  /* fon-size: 50px; */
}
.triangle {
  width: 0px;
  /* position: absolute; */
  height: 0px;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent white;
  transform: rotate(0deg);
  margin-left: 5px;
}
.play-container {
  background-color: green;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}
hr {
  border-color: rgb(255, 246, 246);
}
ul li {
  list-style: none;
}
.track-name {
  font-weight: bold;
}
.profil-picture {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.nav-container {
  background-color: black;
  width: 25%;
  color: white;
}
.profile-name {
  font-size: 10px;
  font-weight: bold;
}
.profile-background {
  background-color: black;
  border-radius: 30px;
}
.next-arrow {
  background-color: rgb(46, 44, 44);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.back-arrow {
  background-color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.navbar-brand {
  width: 30px;
}
/* .cover-info {
  margin-top: auto;
} */
.year {
  font-size: 0.8em;
}
.track {
  background-color: rgb(62, 60, 60);
  transform: translateY(-16px);
}
.play-bar {
  background-color: rgb(240, 139, 102);
  background-blend-mode: multiply;
}
